<div class="firstsection" id="firstsection">
  <h1>코로나 확진자 현황</h1>
  <div class="firstsection_coronaboard">
    <div class="livenews"><%= crDate %> <%= locName %> <%= disMsg %></div>
    <div class="databox">
      <div class="data">
        <div id="onebox">
          <p align="center">확진환자</p>
          <span><%= defCnt %></span>
          <span id="datenum">+ <%= incDec %></span>
        </div>
        <div id="twobox">
          <p align="center">격리해제</p>
          <span><%= isolClearCnt %></span>
        </div>
      </div>
      <div class="data">
        <div id="threebox">
          <p align="center">격리중</p>
          <span><%= isolIngCnt %></span>
        </div>
        <div id="fourbox">
          <p align="center">사망</p>
          <span><%= deathCnt %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="dailyCovidStatus">
    <canvas id="dailyCovidChart"></canvas>
  </div>
</div>
