<div class="firstsection" id="firstsection">
  <h1>코로나 확진자 현황</h1>
  <div class="firstsection_coronaboard">
    <table class="coronaboard">
      <tr id="one">
        <th colspan="3">확진환자</th>
      </tr>
      <tr id="two">
        <td>총 확진자</td>
        <td>일별 확진자</td>
      </tr>
      <tr id="three">
        <td><%= defCnt %></td>
        <td><%= incDec %></td>
      </tr>
      <tr id="four">
        <th>격리해제</th>
        <th>격리중</th>
        <th>사망</th>
      </tr>
      <tr id="five">
        <td>누적</td>
        <td>누적</td>
        <td>누적</td>
      </tr>
      <tr id="six">
        <td><%= isolClearCnt %></td>
        <td><%= isolIngCnt %></td>
        <td><%= deathCnt %></td>
      </tr>
    </table>
  </div>

  <div class="dailyCovidStatus">
    <canvas id="dailyCovidChart"></canvas>
  </div>
</div>
